/*! purgecss start ignore */
[data-container="block"] .fixed {
    position: static;
}
.ccm-ui img {
    display: initial;
}
.ccm-block-edit-drag img{
    display: initial;
}
/*! purgecss end ignore */
